<div id="chatbot">
  <div class="container-fluid">
    <div class="mt-3 title text-center">
      Benvenuti nella mia tesi di laurea interattiva:<br />
      "Sviluppo di un Chatbot per la Ricerca e Consultazione del Manuale
      d'Uso e Manutenzione dell'Automobile"
    </div>
    <div class="mt-4 row">
      <div class="col">
        In questa singolare esperienza, vi guiderò attraverso un'applicazione web innovativa e user-friendly, concepita
        come single page application, al fine di migliorare l'accesso e la comprensione delle informazioni fondamentali
        relative all'utilizzo e alla manutenzione di un veicolo.<br />
        La mia creazione si basa su una tecnologia avanzata di intelligenza artificiale: il chatbot è stato implementato
        utilizzando Dialogflow CX, un potente strumento di sviluppo conversazionale. <br />
        Il modello utilizzato è Google Gemini-pro.<br />
        L'obiettivo principale è fornire agli utenti un'interazione intuitiva e efficace per la ricerca di informazioni
        specifiche all'interno del
        manuale d'uso dell'automobile.
        Nel caso specifico per l'automobile Suzuki Swift Sport.<br />
        Attraverso l'interfaccia pulita e user-friendly gli utenti avranno la possibilità di porre domande al chatbot
        riguardo a una vasta gamma di argomenti, dalla guida sicura alle procedure di
        manutenzione. Il sistema, alimentato da un modello di lingua naturale avanzato, è in grado di comprendere le
        richieste degli utenti e restituire risposte precise e dettagliate.
      </div>
      <div class="col">
        <img src="../../../assets/hero.jpg" class="img-fluid" alt="meccanico automobile">
      </div>
      <div class="col">
        Questo progetto di tesi mira a dimostrare l'applicazione pratica delle tecnologie emergenti nel campo
        dell'intelligenza
        artificiale e nello scopo pratico di utilizzo di un chatbot, focalizzandosi sull'ottimizzazione dell'accesso
        alle informazioni
        critiche per gli utenti di veicoli. <br />
        La creazione di un ambiente conversazionale intuitivo e la semplificazione
        della navigazione nel manuale d'uso e manutenzione sono i pilastri fondamentali su cui si basa il progetto.
        Nell'esplorare la mia tesi, spero che possiate apprezzare l'approccio innovativo e il valore aggiunto che un
        chatbot porta a qualsiasi settore, in questo caso di tipo automobilistico.<br/>
        <div class="mt-3 text-center" style="font-size: 1.125rem;">
          Grazie per l'opportunità di condividere questo progetto con voi.
        </div>
      </div>
    </div>





  </div>
  <df-messenger project-id="big-command-415815" agent-id="a8551ede-da67-45bd-8a9f-6dd9c7844b1d" language-code="it"
    df-cx="true" max-query-length="-1">
    <df-messenger-chat-bubble chat-title-icon="../../../assets/logo.svg" placeholder-text="Scrivi qui..."
      bot-writing-text="Sto scrivendo..." chat-title="Richiedi Info">
    </df-messenger-chat-bubble>
  </df-messenger>
</div>
