<app-header></app-header>
<div id="dashboard">
  <div class="container-fluid">
    <div class="mt-3 title text-center">
      Benvenuti nella tesi di laurea interattiva:<br />
      "GENERATIVE AI PER L'USO E LA MANUTENZIONE DELL'AUTOMOBILE"
    </div>
    <div class="mt-4 row">
      <div class="col">
        In questa singolare esperienza, vi guiderò attraverso un'applicazione web innovativa e user-friendly, concepita
        come single page application, al fine di migliorare l'accesso e la comprensione delle informazioni fondamentali
        relative all'utilizzo e alla manutenzione di un veicolo.<br />
        La mia creazione si basa su una tecnologia avanzata di intelligenza artificiale: il chatbot è stato implementato
        utilizzando Dialogflow CX, un potente strumento di sviluppo conversazionale. <br />
        Il modello utilizzato è Google Gemini-pro.<br />
        L'obiettivo principale è fornire agli utenti un'interazione intuitiva e efficace per la ricerca di informazioni
        specifiche all'interno del
        manuale d'uso dell'automobile.
        Nel caso specifico per l'automobile Suzuki Swift Sport.<br />
        Attraverso l'interfaccia pulita e user-friendly gli utenti avranno la possibilità di porre domande al chatbot
        riguardo a una vasta gamma di argomenti, dalla guida sicura alle procedure di
        manutenzione. Il sistema, alimentato da un modello di lingua naturale avanzato, è in grado di comprendere le
        richieste degli utenti e restituire risposte precise e dettagliate.
      </div>
      <div class="col">
        <img src="../../../assets/hero.jpg" class="img-fluid" alt="meccanico automobile">
      </div>
      <div class="col">
        Questo progetto di tesi mira a dimostrare l'applicazione pratica delle tecnologie emergenti nel campo
        dell'intelligenza
        artificiale e nello scopo pratico di utilizzo di un chatbot, focalizzandosi sull'ottimizzazione dell'accesso
        alle informazioni
        critiche per gli utenti di veicoli. <br />
        La creazione di un ambiente conversazionale intuitivo e la semplificazione
        della navigazione nel manuale d'uso e manutenzione sono i pilastri fondamentali su cui si basa il progetto.
        Nell'esplorare la mia tesi, spero che possiate apprezzare l'approccio innovativo e il valore aggiunto che un
        chatbot porta a qualsiasi settore, in questo caso di tipo automobilistico.<br />
        <div class="mt-3 text-center" style="font-size: 1.125rem; font-weight: 500;">
          Grazie per l'opportunità di condividere questo progetto con voi.
        </div>
        <div class="mt-5 text-center">
          <img src="../../assets/signatureFC.png" class="img-fluid signature" alt="FC signature">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-4">
        <h5>
          Note di Utilizzo
        </h5>
        <div>
          Per interagire con il chatbot, è sufficiente scrivere una domanda aprendo la chat in basso a destra attraverso
          l'icona della chat.
          Il chatbot risponderà in tempo reale alle vostre richieste.
        </div>
      </div>
      <div class="col-4">
        <h5>
          Esempi di domande
        </h5>
        <div>
          <ul>
            <ng-container *ngFor="let domanda of domande">
              <div class="d-flex justify-content-between align-items-center w-75 highlight">
                <li>{{ domanda }}</li>
                <span (click)="showToast()" [cdkCopyToClipboard]="domanda" class="ms-2"><i
                    class="bi bi-clipboard"></i></span>
              </div>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-chatbot></app-chatbot>

<div class="toast-message" *ngIf="viewToast">
  Testo copiato negli appunti!
</div>
